body {
  background-color: bisque;
}

h1 {
  background-color: aqua;
}
.Collection {
  background-color: aquamarine;
}
article {
  background-color: blueviolet;
}
button {
  background-color: greenyellow;
}
p {
  margin: 30px;
  padding: 10px;
}
.price {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: pink;
}
h2{
    background-color: lightsalmon;
}
.money{
    font-size: 40px;
}